/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}

.inner-box {
  background-color: red;
  padding: 10px;
}
/* inner-box 클래스는 box 클래스의 아래에 있어야 cascading 위치로 인해 재정의 될 수 있을 것. 위에 있으면 색 안 변함 */

#outer-box {
  background-color: purple;
}
/* padding: 10px; 는 적용할 필요 없음. 이미 box 에 패딩 10px 이 있기 떄문에 */